.coin
{
width:100px;
height:100px;
margin:0px;
border-color:black;
border-spacing:0;
}


.sideG
{
width:100px;
height:75px;
margin:0px;
border-color:black;
border-spacing:0;
}

.sideD
{
width:100px;
height:75px;
margin:0px;
border-color:black;
border-spacing:0;
}

.up
{
width:75px;
margin:0px;
height:100px;
border-color:black;
}

.down
{
width:75px;
height:100px;
margin:0px;
border-color:black;
}

.vide
{
width:75px;
height: 75px;
border-width:0px;
}

.ecriture
{
width:60px;
height: 45px;
}


.table
{
table-layout:fixed; border-collapse:collapse;
background-color:green;
}
.background
{
background-color:yellow;
}

svg
{
margin:0px;
padding:0px;
display:block;
}

table, table tr, table td {padding:none;border-spacing:0;}



